{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{#
   <p>Elfes: {{elfes[1]}}</p>  #}

    <h1>Puissance de chaque race</h1>
    <ul>
    {% for race, puissance in puissanceRace %}
        <li><strong>{{ race }} </strong>: {{ puissance }} puissance</li>
    {% endfor %}
    </ul>
{% endblock %}
